/* IMPORT FONT */
@font-face {
    font-family: mambaFont;
    src: url(../fonts/Cubadak.ttf);
} 

@font-face {
    font-family: NotoSans;
    src: url(../fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: Bahnschrift;
    src: url(../fonts/BAHNSCHRIFT.TTF);
}

/* ALL PAGES */

*, *::after, *::before{ /* star is select all ||| pseudo elements rednered after page?*/
    box-sizing: border-box;
  }

input, textarea {
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
}

p, ul {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Bahnschrift, Helvetica;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 2rem;
    padding-top: 3rem;
}

.site-message, .donate-area {
    text-align: center;
    padding: 0.5rem;
    background-color:rgb(84, 37, 131);
    color: rgb(253, 184, 39);
}

/* NAV BAR */
.top-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(84, 37, 131)
}
  
.profile-links {
    flex: 1;
}

.site-logo {
    width: 60px;
}

.site-title h1 {
    display: inline-block;
    vertical-align: top;
    margin-top: 1rem;
    font-family: mambaFont;
    letter-spacing: 1px;
}

.profile-links {
    text-align: end;
}

.profile-links li {
    display: inline-block;
    border-right: 1px solid rgb(84, 37, 131);
}

.profile-links li:last-child {
    border: 0;
}

.nav-links {
    padding: 0;
    margin-top: 1.7rem;
    margin-right: 1rem;
}

.nav-links li {
    padding: 0rem 1rem;
    text-align: inherit;
}

.donate-area {
    width:100%;
    text-align: center;
    display: flex;
    color: rgb(253, 184, 39);
    background-color: black;
    border-bottom: 2px solid rgb(84, 37, 131);
}

.donate-area a {
    font-size: 1.2rem;
    width: 100%;
}


/* LOGIN WRAPPER */
.login-wrapper {
    width: 100%;
    margin: 0 auto;
}

.login-header {
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
    color: white;
    /* padding-bottom: 2rem; */
    font-size: 1.5rem;
  }

  .wrap-login {
    width: 450px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    overflow: hidden;
    padding: 1rem;
    z-index: 2;
    -webkit-transform: translate3d(0,0,1px);
    transform: translate3d(0px, 0px, 1px);
  }

.login-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
  }

.wrap-input {
    position: relative;
    width: 100%;
    z-index: 1;
    padding-bottom: 1rem;
}

.wrap-input.small {
    width: 45%;
}

.input-label {
    display: block;
    color: white;
    padding-bottom: 0.3rem;
}
  
.input-label.small {
    display: block;
    font-size: 0.8rem;
}

.form-input {
    width: 100%;
    font-size: 1rem;
    border: 1px solid black;
    padding: 0.5rem 1.5rem;
    border-radius: 3px;
    background-color: rgba(30, 30, 30, 0.5);
    color: rgb(253, 184, 39);
}  

.form-input option {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}


.container-login {
    width: 100%;  
    min-height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.background-image.home {
    background-image: url('../img/background_freethrow.jpg');
    margin-left: 0px;
}

.background-image.login {
    background-image: url('../img/background_swish.png');
}

.background-image.register {
    background-image: url('../img/background_swish_gold.png');
}

.background-image.story {
    background-image: url("../img/background_writing.png");
}

.background-image.read-story {
    background-image: url("../img/background_reading.png");
}

.background-image.profile {
    background-image: url("../img/background_mountains.png");
}

.background-image.about-page {
    background-image: url("../img/background_mountains.png");
}

.background-image.foundation {
    background-image: url("../img/background_swish.png");
}

.container-login.story {
    min-height: 100vh;
}

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
  
.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;  
}
  
.overlay:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

.overlay.homepage:before {
    background-color: rgba(0, 0, 0, 0);
}

.login-form-btn {
    width: 100%;
}
  
.login-button, .story-submit-button, .save-button, .edit-button {
    display: block;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    width: 100%;
    height: 50px;
    background:rgb(84, 37, 131);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
    margin-bottom: 1rem;
}

.save-button {
    width: 20%;
    float: right;
    margin-top: 1rem;
}

.edit-button {
    width: 20%;
}

.login-button:hover, .story-submit-button:hover, .save-button:hover, .edit-button:hover {
    border: 2px solid rgb(253, 184, 39);
    color: rgb(253, 184, 39);
}

/* REGISTER */
.register-header {
    width: 100%;
}

.dropdown option {
    color: black;
    background-color: white;
}

.register-link {
    color: rgb(253, 184, 39);
}

/* FOOTER.PHP */
.footer {
    background-color: black;
    height: 60px;
    border-top: 2px solid rgb(84, 37, 131);
}

/* INDEX.PHP */

.wrap-login.homepage {
    width: 60%;
}

.welcome-header {
    color: white;
    text-align: center;

}
  
.welcome-header h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: mambaFont;
}
  
.welcome-header h3{
    font-size: 1.5rem;
}

.favourite-posts {
    background-color: rgb(0, 0, 0);
}

.top-posts-wrapper {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 3rem 0;

}

.top-post {
    background-color: rgb(0, 0, 0);
    padding: 1.2rem;
    color: white;
    width: 30%;
    border-radius: 10px;
    border: 2px solid rgb(84, 37, 131);
}

.top-post p {
    font-family: NotoSans;
    line-height: 1.5rem;
    font-size: 1.0rem;
}

.top-post h3 {
    margin: 0;
}

.read-more-link {
    color: rgb(253, 184, 39)
}


/* USER POST */

.user-story-wrapper {
    background-color: rgb(84, 37, 131);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-story {
    margin: 0 auto;
    width: 70%;
}

.post-story-btn {
    background-color: rgba(40, 40, 40, 0.5);
    transition: 0.3s;
}

.post-story-btn:hover {
    border: 1px solid rgba(253, 184, 39, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
}

.wrap-input.post {
    padding: 0;
}

/* STORY SECTION */

.story {
    background-color: rgb(6, 25, 34);
    color: rgb(220, 220, 220);
}

.story-header, .top-post-header {
    margin: 0 auto;
    padding-top: 2rem;
}

.story-header h2, .top-post-header h2 {
    text-align: center;
    font-family: mambaFont;
    font-size: 3rem;
    margin: 0;
}

.top-post-header {
    width: 100%;
    color: white;
    padding-top: 0;
    margin-bottom: 2rem;
}

.story-post, .about-container, .foundation-container {
    width: 70%;
    margin: 0 auto;
    border: 2px solid rgb(253, 184, 39);
    border-radius: 10px;
    padding: 2rem;
    margin-top: 2rem;
}

.story-title {
    display: flex;
}

.story-title-link h3 {
    font-family: Bahnschrift;
    font-size: 1.5rem;
}

.story-top {
    flex: 1;
    margin: 0;
    margin-bottom: 0.5rem;
}

.story-top h3 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.3rem;
}

.story-metadata {
    text-align: end;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.story-metadata p:first-of-type {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.story-content {
    font-family: NotoSans;
    line-height: 1.5rem;
}

.hearts {
    display: flex;
}

.hearts img{
    width: 20px;
    height: 20px;
}

.hearts p {
    margin: 0;
    margin-left: 0.5rem;
}

.story-content {
    margin-top: 1rem;
}

.add-heart {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
}

.heart-button {
    display: flex;
    padding: 0.5rem;
    border: 3px solid rgb(84, 37, 131);
    border-radius: 10px;
}

.heart-button:hover {
    cursor: pointer;
}

.heart-button.clicked {
    background-color: rgb(84, 37, 131);
    cursor: default;
}

.heart-button.clicked img {
    margin-left: 0;
}

.add-heart img {
    margin-left: 0.3rem;
    width: 20px;
    height: 20px;
}

.add-heart p {
    margin-top: 1.5px;
}


/* STORY.PHP  */

.user-comment {
    border-radius: 10px;
    z-index: 2;
}

.wrap-login.write-story {
    width: 80%;
}

.wrap-input.textarea {
    width: 100%;
}

.wrap-input.textarea textarea {
    height: 300px;
}

.post-story-header {
    text-align: center;
}


/* READSTORY.PHP */

.story-post.separate-page, .about-container {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 2;
    margin-bottom: 2rem;
    width: 60%;
}


/* PROFILE.PHP */

.profile-user {
    z-index: 2;
    color: white;
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.profile-user-posts {
    text-align: center;
}

.story-post.profile-page {
    background-color: rgba(0, 0, 0, 0.5);
}

.profile-country {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.set-country-form {
    width: 50%;
    display: inline-flex;
    justify-content: space-between;
}

.set-country-form label, .set-country-form p{
    margin-top: 1rem
}


/* FOOTER.PHP */

.footer {
    height: 70px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer p, .footer a {
    padding-top: 1.8rem;
    font-size: 0.7rem;
    padding-right: 1.5rem;
    text-align: right;
}

.footer a {
    text-align: left;
    padding-left: 1.5rem;
    font-size: 1rem;
    padding-top: 1.5rem;
    transition: 0.1s;
}

.footer a:hover {
    color: rgb(253, 184, 39);

}


/* ABOUT.PHP */

.about-container {
    margin-bottom: 3rem;
}

.about-container p {
    font-family: NotoSans;
    line-height: 1.5rem;
}

.about-container h2 {
    text-align: center;
}

.in-text-link {
    font-weight: bold;
    color: rgb(253, 184, 39);
}

.contact-me {
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.contact-me img {
    margin-right: 0.3rem;
    width: 10%;
}

.contact-link {
    vertical-align: super;
}

.linkedin-contact img {
    width: 13%;
}


/* PAGINATION */

.pagination {
    display: flex;
    width: 50%;
    justify-content: center;
    padding: 2rem 0rem;
    margin: 0 auto;
}

.pagination li {
    width: 13%;
    font-size: 1.2rem;
}

.prev {
    margin-right: 1rem;
}


/* DONATE.PHP */

.foundation h2 {
    color: white;
    display: block;
    z-index: 2;
    transform: translate3d(0px, 0px, 1px);
    width: 100%;
    text-align: center;
}

.kobe-charity-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.story-post.separate-page.foundation-post {
    width: 45%;
    background-color: rgba(0, 0, 0, 0.6);
}

.foundation-container {
    width: 90%;
    z-index: 2;
    transform: translate3d(0px, 0px, 1px);
    margin: 3rem 0rem;
    border: none;
    font-family: NotoSans;
    line-height: 1.5rem;
}

.supports-header {
    margin-top: 4rem;
}

.foundation-container p {
    font-family: NotoSans;
    line-height: 1.5rem; 
}

.donate-btn:hover {
    border: 2px solid rgb(253, 184, 39);
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.donate-btn {
    border-radius: 5px;
    color: white;
    transition: 0.3s;
    background-color: rgb(84, 37, 131);
    display: flex;
    justify-content: center;
    width: 90%;
    height: 60px;
    margin: 0 auto;
    margin-top: 2rem;
}

.donate-btn a {
    font-size: 1.7rem;
    margin-top: 1.2rem;
    width: 100%;
    text-align: center;
    font-family: mambaFont;
}




